<!DOCTYPE html>
<html>
<head>
	<title>ADMISSIONS</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" >
</head>
<body>
	<div class="ui secondary pointing menu">
	  <a class="orange item" href="{% url 'pc:About' %}">About Us</a>
	  <a class="orange active item" href="{% url 'pc:Admissions' %}">Admissions</a>
	  <a class="orange item" href="{% url 'pc:Curriculum' %}">Curriculum</a>
	  <a class="orange item" href="{% url 'pc:Fees' %}">Fees</a>
	  <a class="orange item" href="{% url 'pc:Contact' %}">Contact-Us</a>
	  <div class="right menu">
	    <a class="ui item">Logout</a>
	  </div>
	</div>
	<div class="ui segment">
	</div>
</body>
</html>